div {
  width: 375px;
  margin: 0 auto;
}
iframe {
  width: 375px;
  height: 100vh;
  background-color: white;
}

body {
  position: relative;
  background-color: grey;
}

.deskview {
  width: 1450px;
}

.btn {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 80px;
  height: 40px;
  font-weight: 600;
  font-family: Arial, serif;
  background-color: #e3b873;
  cursor: pointer;
}
.mobi {
  display: none;
}
.desktop {
  display: block;
}

.d-block {
  display: block;
}
.d-none {
  display: none;
}


.back {
  top: 60px;
}
@media (max-width: 375px) {
  .mobi {
    display: none;
  }
  .desktop {
    display: none;
  }
}
